.dishes__details {
  position: relative;
  top: 187px;
  display: flex;
  justify-content: space-between;
  padding: 37px 15px 13px 23px;
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 11.98%, rgba(15, 15, 15, 0.8) 100%);
}
