.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 183px 0 0;
}

@media screen and (max-width: 457px) {
  .footer__social {
    margin: 20px 0 21px;
  }
}
