.welcome__toggle-container {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 90px;
  margin: 0 calc((100% - 90px) / 2);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1342px){
  .welcome__toggle-container {
    margin: 0 auto 0 626px;
  }
}

@media screen and (max-width: 1250px){
  .welcome__toggle-container {
    transform: rotate(90deg);
    left: auto;
    right: 0;
    top: 50%;
    bottom: auto;
    margin: 0;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 4px 10px;
  }
}


@media screen and (max-width: 800px){
  .welcome__toggle-container {
    right: -20px;
  }
}

@media screen and (max-width: 457px){
  .welcome__toggle-container {
    display: none;
  }
}