.own-dish__message {
  width: 321px;
  margin: 0;
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.own-dish__message:first-of-type {
  margin-top: 25px;
}

.own-dish__message:last-of-type {
  margin-bottom: 10px;
}

@media screen and (max-width: 920px) {
  .own-dish__message {
    width: 100%;
  }

  .own-dish__message:last-of-type {
    margin-bottom: 36px;
  }
}
