.welcome__image {
  max-width: 1203px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
