.welcome {
  max-height: calc(100vh - 120px);
  background-color: #030303;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  padding: calc((100vh - 120px - 610px) / 2) 0 calc((100vh - 120px - 610px) / 2) 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}
