.chefs__card {
  width: 255px;
  height: 480px;
  border-radius: 32px;
  background-color: white;
  position: relative;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}
