.video__subtitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 25px;
}

@media screen and (max-width: 457px) {
  .video__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0 15px;
  }
}
