.own-dish__input-error {
  width: 180px;
  visibility: hidden;
  color: #FD2121;
  position: absolute;
  top: calc((45px - 28px) / 2);
  left: calc(100% + 10px);
  font-family: Mulish;
  font-size: 10px;
  line-height: 1.4;
  overflow: hidden;
}

.own-dish__input-error:last-of-type {
  top: 55px;
}
