.dishes__location {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0;
}

@media screen and (max-width: 457px) {
  .dishes__location {
    color: black;
  }
}
