.chefs__carousel-viewport {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .chefs__carousel-viewport {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .chefs__carousel-viewport {
    gap: 10px
  }
}

@media screen and (max-width: 890px) {
  .chefs__carousel-viewport {
    gap: 30px
  }
}

@media screen and (max-width: 640px) {
  .chefs__carousel-viewport {
    gap: 10px
  }
}

@media screen and (max-width: 600px) {
  .chefs__carousel-viewport {
    flex-direction: column;
    overflow: auto;
    gap: 15px;
    align-items: center;
  }
}
