.own-dish__label {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #9E9E9E;
}

@media screen and (max-width: 920px) {
  .own-dish__label {
    display: none;
  }
}
