.about__paragraph {
  max-width: 540px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 20px;
}

@media screen and (max-width: 1000px) {
  .about__paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 670px) {
  .about__paragraph {
    margin: 10px 0 0;
    padding: 0 10px 0;
  }
}
