.own-dish__button {
  height: 45px;
  background-color: #ED661B;
  color: #FFFF;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  border: 0;
  border-radius: 32px;
  z-index: 100;
}

.own-dish__button:hover {
  background-color: #FF8C4B;
}

.own-dish__button:disabled {
  background-color: #9E9E9E;
}
