.own-dish__paragraph {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 30px;
}

.own-dish__paragraph:last-of-type {
  margin-bottom: 55px;
}
